*, ::before, ::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(225deg, rgb(224 242 255) 0%, rgb(86 80 92) 50%, rgb(255 246 251) 100%);
}



header{
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
    background-image: linear-gradient(225deg, rgb(240 231 236) 0%, rgb(195 185 204) 50%, rgb(252 254 255));
}
/* .linkStyle{
    margin-left: 10px;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
   
   
}
.linkStyle:hover{
    color:blueviolet;
}
 */
