img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  

.titleHome{
    margin-left: 35px;
    padding: 15px;
    color: #0c0c0c;
}


/* ===========================MovieDetails=================================================================== */
.btnBack{
    padding: 7px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.btnLink{
    text-decoration: none;
}
.movieDetails{
    display: flex;
    margin-bottom: 15px;
}
.movieListDetails{
    margin-left: 50px;
}

.mainCont{
    padding: 15px;
    margin-left: 15px;
}
.userScore{
    color: black;
    
}
.btnList{
    border-radius: 4px;
   
}
.btnRevue{
    display: flex;
    list-style: none;
    margin-left: 15px;
}
.btnList_Reviews{
    margin-left: 15px;
}
/* ===================Movie=============================== */
.searchContainer{
    padding: 20px;
}
.form{
    display: flex;
    width: 100%;
    height: 30px;
    max-width: 300px;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 20px;
    flex-direction: row-reverse;
}
.btnSubmit{
    margin-left: 20px;
    align-items: center;
    background-color: inherit;
    border: 0;
    margin-right: 4px;
    margin-left: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}
.btnSubmit:hover{
transform: scale(1.2);
}


